@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Titillium Web", sans-serif;
}
:root {
--mainColor: #7c247f;
--mainColorLight: #304598;
--secondaryColor: #0c1d69;
--textColor: #eee;
}